<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Weather app</title>
  </head>
  <body>
  <h1 align="center" class="title">
      Приложение погоды
  </h1>

  <div class="container">
    <div class="row">
        <div class="col"></div>
        <form method="POST">
            <div class="input-group mb-3">
                <input  id="city" name='city' type="text" class="form-control" placeholder="Введите название города">
                <button class="btn btn-outline-secondary" type="submit">Узнать погоду</button>
            </div>
        </form>
        <div class="col"></div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">

        {{weather.city}}

        {{weather.temperature}}°
    </div>
    <div class="col-sm"></div>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  </body>
</html>
